{
  "presets": [
    "env",
    "react",
    "stage-1"
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}